/* Navigation design */
    


nav{
    
    gap: 10px;
    float: right;
    position: relative;
    top: px;
   
}
.navigation{
    display: flex;
    position: relative;
    top: 2px;
}
.logos{
    display: flex;
   gap:50px;
   padding: 20px;
}
.logimg{
    padding: 20px;
    width: 55px;
    height: 50.008px;
    flex-shrink: 0; 
}
nav ul{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    float:right;
    margin-right: 100px;
    position: relative
    top:20px;
}
nav ul li{
    list-style: none;
    font-size: 1.3rem;
    
}
nav ul li a:hover{
    color:white;
    background: black;
    display: block;
    border-radius: 10px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
}
/* Main section Design */
/* .second-part{
    position: relative;
    justify-content: center;
    align-items: center;
} */
 /*main{
    width: 1170px;
    height: 500px; 
    background:url('../Images/Group\ 13\ \(1\)\ \(1\).png')
    border-radius: 16px;
   

} */
 .img-one{
    padding: 5px;
    width: 22170px;
    height: 00px;
    flex-shrink: 0; 
    margin-left: 20%;
    
} 
.text{
    font-size: 70px;
    margin-left: 4%;
    color: white;
}
.from{
    gap:15px;
    display: inline-flex;
    margin: 2%;
    size: 100px;
    margin-left: 10%;
    width: 600px;
    height: 50px;
}
.btn:hover{
    background-color:blue;
    color:white;
}
.btn{
    background: #FF5400;
}

.first-text{
    display: ;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 30%;
}
/* part three design */
.btn-two:hover{
    background-color: aqua;
}
.btn-two{
    background: #FF5400;
    width: 174px;
    height: 52px; 
}
.our-popular:hover{
    background: #FFF;
    border-radius: 0%;
    border-style: solid;
}
.our-popular{
    margin-top: 10%;
    margin-left: 15%;
}
.img-three{
    display: flex;
    margin-top: 11%;
}
.simg{
    display: flex;
    gap: 100px;
}

/* 4th part design */
.chose-your{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}
.first-row{
    display: flex;
    margin-left: 10%;
    gap:20px;
}
.second-row{
    display: flex;
    margin-left: 10%;
    gap:20px;
}
.thard-row{
    display: flex;
    margin-left: 10%;
    gap:20px;
}
.many-img{
    margin-left: 12%;
}
.why{
    margin-left: 40%;

}
.first-icon{
    margin-left: 5%;
}
.first-icon:hover{
    width: 573px;
    height: 284px; 
    background: #FFF;
    border-radius: 0%;
    border-style: solid;
}
.icon-two{
    margin-left: 5%;
}
.icon-two:hover{
    width: 573px;
    height: 284px; 
    background: #FFF;
    border-radius: 0%;
    border-style: solid;
}
.icon{
    display:flex;
    margin-left: 20%;
    gap:50px;
}
.icon-three{
    margin-left: 35%;
}
.icon-three:hover{
    width: 573px;
    height: 284px; 
    background: #FFF;
    border-radius: 0%;
    border-style: solid;
}
/* Newsletter Design */
.btn-four{
    background: #FF5400;
    width: 174px;
    height: 52px; 
}
.btn-four:hover{
    background: #FF5400;
}
.fromm{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05); 
}
.from-two{
    width: 393px;
    height: 52px;
    flex-shrink: 0; 
    gap:50px;
}
.news{
    margin-left: 10%;
}
.imageimg .travel-com{
    color: white;
    position:relative;
    width: 320px;
    height: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 16px;
    background: #FF5400;
    right: -320px;
    top: -150px;
    transform: rotate(-19deg);
}
.newsletter{
    display: flex;
    margin-left: 15%;
}
/* footer section design */
footer{
    padding: 7cqmin;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    justify-content: center;
    align-items: center;
}
footer .footer-logos{
    margin-left: 20%;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}
footer .footer-logos img{
    font-size: 205%;
    margin-right: 15px;
    width: px;
    height: 40px; 
}
/* Responsive Design */
@media screen and (max-width:600px) {
    
}
/* Tablet device */
@media screen and (min-width:576px) and (max-width: 960px) {

}